@import '~src/scss/base';

:host {
  height: calc(100% - 1px);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  .bg-wrapper {
    height: 100%;
    background-color: color-base('white');
  }

  .container {
    height: 100%;
  }
}
