@import '~src/scss/base';

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  background-image: url('src/assets/bg-bubbles.png');
  background-color: color-base('red');

  .container {
    flex: 1;
  }
}
