$lk-background-xLarge-bubbles-image-height: 160px;
$lk-background-bubbles-image-height: 111px;
$animation-space: 10px;

.lk-background-bubbles {
  position: relative;
  z-index: 0;
  overflow: hidden;
  //background-color: color-base('red');

  height: calc(93px + #{$animation-space});

  @include respond-above('medium') {
    height: calc(106px + #{$animation-space});
  }

  &__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: $lk-background-bubbles-image-height;
    top: 20px;
    background-position: center top;
    background-image: url('/assets/bubbles.png');
    background-color: color-base('red');
    backface-visibility: hidden;

    @include respond-above('x-large') {
      height: $lk-background-xLarge-bubbles-image-height;
      background-size: auto 100%;
    }

    &__top {

    }

    &__bottom {
      transform: rotate(180deg);
    }
  }
}

.lk-background-bubbles {
  .logo {
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      transition: width .5s, height .5s, margin-left .5s;
      cursor: pointer;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: -15px;

      @include respond-above('medium') {
        width: 115px;
        height: 115px;
        margin-left: -57px;
      }

      &:hover {
        width: 110px;
        height: 110px;
        margin-left: -55px;

        @include respond-above('medium') {
          width: 125px;
          height: 125px;
          margin-left: -62px;
        }
      }
    }
  }
}

.lk-background-bubbles {
  &__footer-container {

    @include respond-above('medium') {
    }

    &__image {
      background-image: url('src/assets/bubbles-footer.png');
      backface-visibility: hidden;

      &__top {
        top: -110px;
      }
    }
  }
}

.lk-background-bubbles {
  .arrow {
    text-align: center;

    span {
      color: color-base('pink');
      font-size: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -25px;
      margin-top: 12px;
      transition: transform 0.5s, color 0.5s;
      cursor: pointer;

      &:hover {
        color: color-shade('dark-pink');
        transform: translateY(-5px);
      }
    }
  }
}
