a.lk-button{
  text-decoration: none;
  display: block;
}

a.lk-button, button.lk-button{
  width: 100%;
  max-width: 240px;
  cursor: pointer;
  background-color: color-base('red');
  border: 1px solid color-base('red');
  color: color-base('white');
  text-align: center;
  text-transform: uppercase;
  @include responsive-app-text-size('sub-header');
  border-radius: 30px;
  padding: 10px 15px;
  margin: 0 auto;
  font-weight: 700;

  &:hover {
    background-color: color-shade('red', 10);
    border: 1px solid color-shade('red', 10);
    color: color-shade('white', 10);
  }
}
