a.lk-button{
  text-decoration: none;
  display: block;
}

a.lk-button, button.lk-button{
  width: 100%;
  max-width: 240px;
  cursor: pointer;
  background-color: color-base('red');
  border: 2px solid color-base('white');
  color: color-base('white');
  text-align: center;
  text-transform: uppercase;
  @include responsive-app-text-size('block-header');
  border-radius: $button-radius;
  padding: $padding-button;
  margin: 0 auto;
  font-weight: 800;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s, text-decoration-color 0.5s, box-shadow 0.5s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);

  &:hover {
    background-color: color-base('dark-red');
    border: 2px solid color-base('white-2');
    color: color-base('white-2');
    box-shadow: none;
  }
}

a.lk-button, button.lk-button {
  &.outline{
    background-color: transparent;
    border: 2px solid color-base('red');
    color: color-base('red');

    &:hover {
      background-color: color-base('red');
      border: 2px solid color-base('red');
      color: color-base('white');
    }
  }

  &.underline{
    box-shadow: none;
    text-decoration: underline;
    text-decoration-color: transparent;

    background-color: transparent;
    border: 2px solid transparent;
    color: color-base('white');

    &:hover {
      text-decoration-color: color-base('white');

      background-color: transparent;
      border: 2px solid transparent;
      color: color-base('white');
    }
  }
}

a.lk-button.disabled, button.lk-button.disabled {
  background-color: color-shade('red', -30);
  border: 2px solid color-shade('red', -30);
  color: color-shade('white', -30);

  &:hover {
    background-color: color-shade('red', -30);
    border: 2px solid color-shade('red', -30);
    color: color-shade('white', -30);
  }
}
