$button-width: 120px;

.lk-inline-input-form {
  position: relative;

  .lk-input{
    width: 100%;
    border-radius: $button-radius;

    padding-right: calc(#{$button-width} + 15px);

    border: 2px solid color-base('white');
  }

  a.lk-button, button.lk-button {
    position: absolute;
    top: 0;
    right: 0;

    width: $button-width;

    border: 2px solid color-base('white');
  }

  &.switch{
    .lk-input{
      margin: 0px;
      border-top-left-radius: 60px;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      border-bottom-left-radius: 60px;
      padding-right: calc(#{$switch-width} - 10px + 15px);
    }

    .lk-switch{
      position: absolute;
      top: 0;
      right: 0;

      width: $switch-width;

      border: 2px solid color-base('white');
    }
  }



  &.switch.left {
    .lk-input{
      margin: 0px;
      border-top-left-radius: 60px;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      border-bottom-left-radius: 60px;
      padding-left: calc(#{$switch-width} - 10px + 15px);
    }

    .lk-switch{
      position: absolute;
      top: 1px;
      left: 0;

      width: $switch-width;

      border: 2px solid color-base('white');
    }
  }
}
