textarea.lk-input, input.lk-input{
  //width: 100%;
  //@include responsive-text-size('description');

  //text-align: center;
  color: color-base('dark-gray');
  background-color: color-base('gray');
  border: 1px solid color-base('gray');
  border-radius: $input-radius;
  padding: $padding-element;

  font-weight: 700;

  &::placeholder {
    color: color-base('dark-gray');
  }

  &:focus {
    outline: none !important;
    border:1px solid color-base('gray');
    box-shadow: 0 0 10px color-base('gray');
  }

}
