textarea.lk-input, input.lk-input{
  @include responsive-app-text-size('block-header');

  color: color-base('black');
  opacity: 0.98;
  background-color: color-base('gray');
  border: 1px solid color-base('gray');
  border-radius: $input-radius;
  padding: $padding-element;

  font-weight: 700;

  &::placeholder {
    color: color-base('dark-gray');
  }

  &:focus {
    outline: none !important;
  }
}
