$colors-map-base: (
  'white': #FFFFFF,
  'dark':#2a2a2a,
  'black': #232323,
  'wheat': #dedfd3
);

@function color-base($color-name) {
  $color: map-get($colors-map-base, $color-name);
  @if $color {
    @return $color;
  }
  @warn "Color '#{$color-name}' for colors map base '#{$colors-map-base}' was not found";
}

@function color-shade($color-name, $shade-percent: 0) {
  $color: map-get($colors-map-base, $color-name);
  @if $shade-percent < 0 {
    $abs-percent: abs($shade-percent);
    @return mix(white, $color, $abs-percent);
  } @else {
    @return mix(black, $color, $shade-percent);
  }
}
