@import '~src/scss/base';

:host {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: block;
  background-color: color-base('white');
  color: color-base('black');
  padding: 15px;

  img {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    display: block;

    @include respond-above('medium') {
      width: 143px;
      height: 143px;
    }

    @include respond-above('x-large') {
      width: 220px;
      height: 220px;
    }
  }

  .header-content {
    background-color: color-base('dark-white-2');
    color: color-base('light-black-1');
    border-radius: 15px;
    padding: 15px;
    text-align: center;

    h1 {
      @include responsive-app-text-size('main-header');
    }
    p {
      @include responsive-app-text-size('sub-description');
    }
  }

  h2 {
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
    @include responsive-app-text-size('main-header');
  }

  .block-container {
    .block-row {
      display: flex;
      flex-flow: row;

      .block-element {
        transition: margin-right 0.5s, margin-left 0.5s, padding-right 0.5s, padding-left 0.5s, flex 0.5s;
      }

      &:hover {
        .block-element:nth-child(odd) {
          margin-left: 0;
          margin-right: 0;
          padding: 0;
          flex: 0 0 0%;
        }

        .block-element:nth-child(even) {
          flex: 1 1 100%;
          margin: 5px 0 5px 0;
        }
      }
    }

    .block-element {
      flex: 1 1 50%;

      background-color: color-base('dark-white-2');
      border-radius: 15px;

      color: color-base('light-black-1');
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:nth-child(odd) {
        margin: 5px 10px 5px 0;
        padding: 5px 15px;
        height: 37px;
      }

      &:nth-child(even) {
        margin: 5px 0 5px 10px;
        height: 37px;
      }

      span {
        display: flex;
        height: 100%;
        @include responsive-app-text-size('sub-header');
        align-items: center;
        text-transform: uppercase;
      }

      input {
        @include responsive-app-text-size('small-description');
      }

      .clipboard-input {
        position: relative;
        height: 100%;

        input {
          height: 100%;
          width: 100%;
          padding: 5px 15px;
          background-color: transparent;
          border: none;

          &:focus {
            outline: none;
          }
        }

        button {
          position: absolute;
          right: 0;
          height: 100%;
          padding: 0px 20px;
          border-radius: 15px;

          background-color: color-base('red');
          color: color-base('white');
          font-size: 24px;

          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5)
        }
      }
    }
  }

  a.lk-button {
    margin: 35px 0;
  }

  footer {
    text-align: center;
  }
}
