<div class="container">
  <div class="lk-background-bubbles">
    <div class="lk-background-bubbles__image logo">
      <a [href]="['https://luck.org.pl/']" >
        <img src="assets/logo-shadow.png">
      </a>
    </div>
  </div>
  <div class="wrapper">
    <div class="header-content" *ngIf="isDescription">
      <h1>{{name}}</h1>
      <p>{{description}}</p>
    </div>
    <h2>zaproś uczestników</h2>
    <h3>Link przekierowuje do losowania, wyślij wiadomość np.: SMS lub za pomocą aplikacji messenger.</h3>
    <div class="block-container">
      <div class="block-row"
           *ngFor="let participant of participantsUniqueLink; let i = index;">
        <div [class]="!participant.copied ? 'block-element' : 'block-element copied'">
          <span>{{participant.name}}</span>
        </div>
        <div [class]="!participant.copied ? 'block-element' : 'block-element copied'">
          <span class="app-icon app-icon-arrow"></span>
          <!--TODO: move clipboard to directive-->
          <div class="clipboard-input">
            <input type="text"
                   readonly="true"
                   #elementToCopy
                   (keydown)="provoked($event)"
                   (blur)="returnValue(elementToCopy, i)"
                   (untouched)="returnValue(elementToCopy, i)"
                   (click)="copyValue(elementToCopy)"
                   (touched)="copyValue(elementToCopy)"
                   [value]="getValue(participant.uniqueLink)">
            <button class="app-icon app-icon-copy" (mouseup)="mouseUp(i)" (click)="copyValue(elementToCopy)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-bubbles__image bg-bubbles__image__top"></div>
<a style="display: none" class="lk-button">Twój los</a>
