<div *ngIf="!participantUniqueLinkData.length">

  <form>
    <section [formGroup]="form">
      <input type="text" id="gForm_1" placeholder="NAZWA WYDARZENIA..." formControlName="name">
      <textarea type="text" id="gForm_2" placeholder="Opis wydarzenia..." formControlName="description"></textarea>
      <p>ZAPROŚ UCZESTNIKÓW:</p>
      <div formArrayName="participantList"
           *ngFor="let participant of forParticipantList.controls; let i = index;">
        <div [formGroupName]="i">
          <input type="text" id="'gForm_3' + i" placeholder="nazwa..." formControlName="name"
                 (keyup)="addParticipant($event, i + 1)" (blur)="clearEmpty()">
        </div>
      </div>
    </section>
    <button (click)="clickedSave()">UPUBLIKUJ WYDARZENIE</button>
  </form>
</div>
<div *ngIf="participantUniqueLinkData.length">
  <h1>title: {{name}}</h1>
  <div *ngFor="let participant of participantUniqueLinkData; let i = index;">
    <div>
      <span>{{i + 1}}. </span>
      <span>{{participant.name}}</span>
    </div>
    <a href="http://localhost:9000/participation/{{participant.uniqueLink}}"><span>http://localhost:9000/participation/{{participant.uniqueLink}}</span></a>
  </div>
</div>
