@import '~src/scss/base';

:host {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: block;
  background-color: color-base('white');
  color: color-base('light-black');
  padding: 15px;

  img {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    display: block;

    @include respond-above('medium') {
      width: 143px;
      height: 143px;
    }

    @include respond-above('x-large') {
      width: 220px;
      height: 220px;
    }
  }

  .header-content {
    background-color: color-base('dark-white-2');
    border-radius: 15px;
    padding: 15px;
    text-align: center;

    h1 {
      @include responsive-app-text-size('main-header');
    }
    p {
      @include responsive-app-text-size('sub-description');
    }
  }

  h2 {
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
    @include responsive-app-text-size('main-header');
  }

  .block-container {
    .block-row {
      display: flex;
      flex-flow: row;
    }

    .block-element {
      flex: 1 1 50%;

      background-color: color-base('dark-white-2');
      border-radius: 15px;
      padding: 5px 15px;

      color: color-base('dark-gray');
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      border: 1px solid color-base('dark-white-2');

      &:nth-child(odd) {
        margin: 5px 10px 5px 0;
      }

      &:nth-child(even) {
        margin: 5px 0 5px 10px;
      }

      span {
        @include responsive-app-text-size('sub-header');
        text-transform: uppercase;
      }

      a {
        display: inline-block;
        overflow: hidden;
        @include responsive-app-text-size('small-description');
      }
    }
  }

  a.lk-button {
    margin: 35px 0;
  }

  footer {
    text-align: center;
  }
}
