@import '../happening.common';
@import '~src/scss/base';


:host {
  .container {
    background-color: color-base('white');
    color: color-base('black');
    height: calc(100% - #{$space-for-action-button});
    margin: 0 auto;
  }

  .wrapper {
    max-width: 550px;

    margin: 0 auto;
    height: calc(100% - #{$space-for-action-button});
    overflow: hidden;
    padding: 0 15px 30px 15px;
  }

  .header-content {
    max-width: 500px;
    margin: 34px auto;
    background-color: color-base('gray');
    color: color-base('light-black-1');
    border-radius: 15px;
    padding: 0 15px;
    text-align: center;

    h1 {
      @include responsive-app-text-size('main-header');
    }
    p {
      @include responsive-app-text-size('description');
    }
  }

  h2 {
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
    @include responsive-app-text-size('main-header');
  }

  .block-container {
    overflow-y: auto;
    height: calc(100% - 135px);

    .block-row {
      display: flex;
      flex-flow: row;

      &:first-of-type {
        .block-element{
          &:nth-child(odd) {
            margin: 0 10px 5px 0;
          }

          &:nth-child(even) {
            margin: 0 0 5px 10px;
          }
        }

        &:hover {
          .block-element:nth-child(odd) {
            @include respond-above('medium') {
              margin: 0 10px 5px 0;
            }
          }

          .block-element:nth-child(even) {
            margin: 0 0 5px 0;
          }
        }

      }

      &:last-of-type{
        padding-bottom: 70px;

        @include respond-above('medium') {
          padding-bottom: 90px;
        }
      }

      .block-element {
        transition:
          width 1s,
          margin-right 1s,
          margin-left 1s,
          padding-right 1s,
          padding-left 1s,
          flex-basis 1s,
          flex-grow 1s,
          flex-basis 1s;

        .app-icon-arrow {
          transition: left 1s;
        }
      }

      &:hover {
        .block-element:nth-child(odd) {
          width: 0;
          margin-left: 0;
          margin-right: 0;
          padding: 0;
          flex: 1 1 0%;

          @include respond-above('medium') {
            margin: 5px 10px 5px 0;
            padding: 5px 15px;
            flex: 1 1 40%;
          }
        }

        .block-element:nth-child(even) {
          flex: 1 1 100%;
          margin: 5px 0 5px 0;

          @include respond-above('medium') {
            margin: 5px 0 5px 10px;
          }

          .app-icon-arrow {
            left: 0;

            @include respond-above('medium') {
              left: -20px;
            }
          }
        }
      }
    }

    .block-element {
      flex: 1 1 50%;

      background-color: color-base('gray');
      border-radius: 30px;

      color: color-base('light-black-1');

      &:nth-child(odd) {
        margin: 5px 10px 5px 0;
        padding: 5px 15px;
        height: 33px;
      }

      &:nth-child(even) {
        position: relative;
        margin: 5px 0 5px 10px;
        height: 33px;

        .app-icon-arrow {
          position: absolute;
          left: -20px;
          top: 50%;
          margin-top: -20px;
          font-size: 20px;
          transform: rotate(270deg);
        }
      }

      span {
        display: flex;
        height: 100%;
        @include responsive-app-text-size('block-header');
        font-weight: 700;
        align-items: center;
        text-transform: uppercase;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      input {
        @include responsive-app-text-size('small-description');
      }

      .clipboard-input {
        overflow: hidden;
        position: relative;
        height: 100%;

        input {
          height: 100%;
          width: 100%;
          padding: 5px 15px;
          background-color: color-base('gray');
          border-radius: 30px;
          border: none;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:focus {
            outline: none;
          }
        }

        button {
          cursor: pointer;
          position: absolute;
          right: 0;
          height: 100%;
          padding: 0px 18px;
          border-radius: 30px;

          background-color: color-base('red');
          color: color-base('white');
          font-size: 23px;

          box-shadow: -10px 0 20px 0 rgba(0, 0, 0, 0.20);
        }
      }
    }
  }

  .bg-bubbles__image {
    background-image: url('src/assets/bubbles-shadow.png');
    width: 100%;
    height: 100px;

    @include respond-above('medium') {
      height: 110px;
    }

    &__top {
      pointer-events: none;
      position: absolute;
      bottom: 67px;

      @include respond-above('medium') {
        bottom: 67px;
      }
    }
  }

  a.lk-button {
    margin: $margin-top-action-button auto $margin-bottom-action-button auto;
  }
}
