@import '~src/scss/base';

$main-size-logo: 165px;
$main-medium-size-logo: 143px;
$main-xLarge-size-logo: 220px;

$main-padding-top-logo: 50px;
$main-medium-padding-top-logo: 70px;
$main-xLarge-padding-top-logo: 80px;

$space-needed-for-logo: $main-size-logo + $main-padding-top-logo;
$space-medium-needed-for-logo: $main-medium-size-logo + $main-medium-padding-top-logo;
$space-xLarge-needed-for-logo: $main-xLarge-size-logo + $main-xLarge-padding-top-logo;

$bg-bubbles-position-top: -75px;

$height-for-lk-background-bubbles: $lk-background-bubbles-image-height + 30px;

:host {
  height: 100%;
  background-image: url('src/assets/bg-bubbles.png');
  background-repeat: repeat;
  background-color: color-base('red');
  backface-visibility: hidden;
  display: block;

  .bg-section {
    background-color: color-base('white');

    &.red {
      background-image: url('src/assets/bg-bubbles.png');
      background-repeat: repeat;
      background-color: color-base('red');
      backface-visibility: hidden;
    }
  }

  section.welcome-screen {
    height: calc(100%);
    width: 100%;
    max-width: 100%;

    @include respond-above('medium') {
      height: calc(100%);
    }

    .content {
      height: calc(100% - #{$height-for-lk-background-bubbles});
      max-width: 1200px;
      margin: 0 auto;

      padding: $space-needed-for-logo 15px 0px 15px;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      @include respond-above('medium') {
        padding: $space-medium-needed-for-logo 40px 0px 40px;
      }

      @include respond-above('x-large') {
        padding: $space-xLarge-needed-for-logo 40px 0px 40px;
      }

      .header-container {

      }

      .first-step-happening-form {

        @include respond-above('medium') {

        }

        .lk-inline-input-form {
          width: 100%;
          max-width: 280px;
          margin: 0 auto;

          @include respond-above('medium') {
            max-width: 350px
          }

          a {
            padding: $padding-element;
            padding-top: 9px;
            font-size: 12px;
          }
        }
      }

      img {
        position: absolute;
        top: $main-padding-top-logo;
        width: $main-size-logo;
        height: $main-size-logo;

        @include respond-above('medium') {
          top: $main-medium-padding-top-logo;
          width: $main-medium-size-logo;
          height: $main-medium-size-logo;
        }

        @include respond-above('x-large') {
          top: $main-xLarge-padding-top-logo;
          width: $main-xLarge-size-logo;
          height: $main-xLarge-size-logo;
        }
      }

      h1, h2 {
        @include responsive-text-size('description');
        margin: 5px 0;
        white-space: pre-line;
      }

      h1 {
        @include respond-above('medium') {
          padding-bottom: 0px;
        }
      }

      h2 {
        @include responsive-text-size('description-2');

        display: none;

        @include respond-above('medium') {
          display: block;
        }
      }

      .lk-button.underline {
        @include responsive-text-size('sub-description');

        text-transform: inherit;
        display: none;
        //opacity: 0;

        @include respond-above('medium') {
          display: block;
          //opacity: 1;
        }
      }
    }

    .lk-background-bubbles-container {
      background-color: color-base('white');
      height: $height-for-lk-background-bubbles;

      .lk-background-bubbles__image {
        top: 1px;

        @include respond-above('medium') {
          top: 1px;
        }

      }
    }
  }

  section.philosophy {
    display: flex;
    flex-direction: column;
    color: color-base('black');
    padding: 25px 0 25px 0;

    p {
      color: color-base('black');
      &.color-font {
        &.red {
          color: color-base('red');
        }
      }
    }

    .cart {
      display: flex;
      flex-direction: column;
      max-width: 1100px;
      margin: 0 auto;

      @include respond-above('medium') {
        flex-direction: row;
      }
    }

    .cart:nth-of-type(odd) {
      @include respond-above('medium') {
        .image-container {
          order: 1;
        }

        .content {
          order: 2;
        }
      }
    }

    .cart:nth-of-type(even) {
      @include respond-above('medium') {
        .image-container {
          order: 2;
        }

        .content {
          order: 1;
        }
      }
    }

    .image-container {
      text-align: center;

      &.vertical {
        padding: 25px 15px 0 15px;

        @include respond-above('medium') {
          padding: 0 15px;
        }
      }

      &.horizontal {
        padding: 5px 15px 0 15px;

        @include respond-above('medium') {
          padding: 0 15px;
        }
      }
    }

    .content {
    }

    .image-container, .content {
      align-self: center;
      flex: 1 1 50%;
      padding: 0 15px;

      @include respond-above('medium') {
        flex: 1 2 50%;
        padding: 0 32px;
      }
    }

    img {
      width: 100%;
    }

    h3 {
      @include responsive-text-size('block-header');
    }
  }

  .bg-section.info {

    .lk-background-bubbles-container {
      background-color: color-base('white');
      height: calc(#{$lk-background-bubbles-image-height} + 1px);
      margin-bottom: 45px;

      @include respond-above('medium') {
        margin-bottom: 100px;
      }

      .lk-background-bubbles__image {
        top: -1px;

        @include respond-above('medium') {
          top: -1px;
        }

      }
    }

    .lk-background-bubbles__footer-container {
      background-color: color-base('red');
      height: calc(#{$lk-background-bubbles-image-height} + 1px - 32px + #{$animation-space});
      margin-top: 45px;

      @include respond-above('medium') {
        height: calc(#{$lk-background-bubbles-image-height} + 1px - 20px + #{$animation-space});
        margin-top: 100px;
      }

      .lk-background-bubbles__image {
        height: calc(75px + #{$animation-space});
        top: initial;
        bottom: -1px;

        @include respond-above('medium') {
          height: calc(87px + #{$animation-space});
          top: initial;
          bottom: -1px;
        }

      }
    }
  }

  section.about-us, section.help-us, section.join-us {
    background-color: color-base('red');
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    .content {
      text-align: center;
      padding: 0 15px;
    }

    h2 {
      @include responsive-text-size('main-header');
    }

    p {
      @include responsive-text-size('sub-description');
      padding: 10px 0;

      @include respond-above('medium') {
        padding: 30px 0;
      }
    }
  }

  section.about-us {
    .content {
      img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 600px;
        box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.13);
        opacity: 0.9;
      }
    }
  }

  section.help-us {
    padding: 45px 0 0 0;

    @include respond-above('medium') {
      padding: 100px 0 0 0;
    }

    a {
      width: 180px;
      height: 60px;

      display: block;
      border-radius: 15px;
      margin: 20px auto 0;

      background-image: url('src/assets/wspieram-to.png');
      background-color: color-base('white');
      background-size: 65% auto;
      background-repeat: no-repeat;
      background-position: center;
      backface-visibility: hidden;
      cursor: pointer;

      border: 2px solid color-base('white');
      transition: background-color 0.5s, border-color 0.5s;

      box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.13);

      @include respond-above('medium') {
        //width: 240px;
        //height: 80px;
      }

      &:hover {
        border: 2px solid color-base('white');
        background-color: color-base('pink');
      }
    }
  }

  .logo__container {
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      transition: width .5s, height .5s;
      cursor: pointer;

      @include respond-above('medium') {
        width: 115px;
        height: 115px;
        margin: -15px 0 0 0;
      }

      &:hover {
        width: 110px;
        height: 110px;

        @include respond-above('medium') {
          width: 125px;
          height: 125px;
        }
      }
    }
  }

  section.join-us {
    h2, p {
      color: color-base('black');
      &.color-font {
        &.red {
          color: color-base('red');
        }
      }
    }
    text-align: center;
    background-color: color-base('white');
    color: color-base('black');
    padding: 0 0 0 0;

    max-width: 800px;

    h2 {
      @include responsive-text-size('sub-header');
    }

    p {
      @include responsive-text-size('small-description');
      padding: 10px 0;
    }
  }

  footer {
    text-align: center;
    color: color-base('black');
    background-color: color-base('white');

    .content {
      padding: 10px 0;

      @include respond-above('medium') {
        padding: 15px 0;
      }
    }

    a {

      cursor: pointer;
      color: color-base('red');
      font-size: 40px;
      text-align: center;
      padding: 0 10px;
      transition: color 0.5s;
      display: inline-block;

      &:hover {
        color: color-shade('dark-pink');
      }
    }

    p {
      color: color-base('black');
      padding: 10px 0;
    }
  }
}
