@import '../happening.common';
@import '~src/scss/base';

$space-desktop-between-block-element: 12px;
$space-for-3-block-element: $space-desktop-between-block-element / 3;
$margin-desktop-for-first-block-element: 5px $space-for-3-block-element * 2 5px 0;
$margin-desktop-for-center-block-element: 5px $space-for-3-block-element 5px $space-for-3-block-element;
$margin-desktop-for-last-block-element: 5px 0 5px $space-for-3-block-element * 2;

$space-between-block-element: 10px;
$space-for-2-block-element: $space-between-block-element / 2;
$margin-for-first-block-element: 5px $space-for-3-block-element * 2 5px 0;
$margin-for-last-block-element: 5px 0 5px $space-for-3-block-element * 2;

:host {
  height: 100%;
  display: block;
  position: relative;

  .container {
    background-color: color-base('white');
    color: color-base('black');
    height: calc(100% - #{$space-for-action-button});
    //max-width: 550px;
    margin: 0 auto;

    overflow: auto;
  }

  form {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 15px 15px 15px;
  }

  h2 {
    margin: 34px 0 2px 0;
    text-transform: uppercase;
    text-align: center;
    color: color-base('black');
    @include responsive-app-text-size('main-header');

    @include respond-above('medium') {
      margin: 36px 0 4px 0;
    }

    &:first-of-type {
      margin: calc(34px - #{$animation-space}) auto 2px auto;

      @include respond-above('medium') {
        margin: calc(36px - #{$animation-space}) auto 4px auto;

      }
    }
  }

  h3 {
    color: color-base('black');
    //@include responsive-app-text-size('block-header');
    font-weight: 700;
    font-size: 14px;
    padding: 0px 10px;
    margin: 6px 0 3px 0;

    @include respond-above('x-large') {
      margin: 8px 0 4px 0;
    }
  }

  input, textarea {
    width: 100%;
    margin: 0 0 6px 0;

    @include respond-above('x-large') {
      margin: 0 0 8px 0;
    }
  }

  textarea {
    min-height: 72px;
  }

  .lk-inline-input-form.switch {
    overflow: hidden;

    .lk-input {
      transition: width 1s, padding-left 1s, padding-right 1s;
    }

    p {
      z-index: 0;
      position: absolute;
      top: 50%;
      left: -100%;
      margin-top: -11px;
      padding-left: calc(#{$switch-width} + 15px);
      color: color-base('black');
      @include responsive-app-text-size('block-header');

      transition: left 1s;
    }

    &.hidden {
      .lk-input {
        width: 0%;
        padding-left: 0;
        padding-right: 0;
      }

      p {
        left: 0;
      }
    }
  }


  .lk-inline-input-form.button {
    .lk-input{
      border-radius: $input-radius;
      padding-right: 65px;
    }

    button {
      cursor: pointer;
      padding: 3px 15px;
      padding-right: 30px;
      margin: 5px 0;
      font-size: 20px;
      color: color-base('black');
      transition: transform .5s ;

      &:hover {
        opacity: 0.95;
        transform: translateX(5px);
      }
    }

    img {
      display: none;
      position: absolute;
      right: 0;
      top: 0;

      @include respond-above('large') {
        display: block;
        position: absolute;
        width: 211px;
        height: auto;
        right: -190px;
        top: -50px;
      }

      @include respond-above('x-large') {
        display: block;
        position: absolute;
        width: 246px;
        height: auto;
        right: -220px;
        top: -70px;
      }
    }
  }

  .block-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: self-start;
    min-height: 40px;

    .block-element {
      position: relative;
      text-transform: uppercase;
      display: flex;
      flex: 0 0 calc(50% - 8px);
      border-radius: 8px;
      padding: 8px 25px 8px 10px;
      background-color: color-base('red');
      color: color-base('white');
      overflow: hidden;

      @include responsive-app-text-size('description');
      //font-weight: 500;

      @include respond-above('medium') {
        flex: 0 0 calc(33% - 7px);
      }

      &:nth-child(odd) {
        margin: $margin-for-first-block-element;
      }

      &:nth-child(even) {
        margin: $margin-for-last-block-element;
      }

      &:nth-child(3n + 1) {
        @include respond-above('medium') {
          margin: $margin-desktop-for-first-block-element;
        }
      }

      &:nth-child(3n - 1 ) {
        @include respond-above('medium') {
          margin: $margin-desktop-for-center-block-element;
        }
      }

      &:nth-child(3n) {
        @include respond-above('medium') {
          margin: $margin-desktop-for-last-block-element;
        }
      }

      &:last-of-type {
        margin-bottom: 30px;

        @include respond-above('medium') {
          //margin-bottom: 70px;
        }
      }

      span.text {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      span.circle-button {
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -7.5px;
        right: 10px;
        width: 15px;
        text-align: center;
        line-height: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: color-shade('white');
        color: color-base('red');
        opacity: .54;
        font-size: 10px;
        display: block;
      }
    }
  }

  .lk-background-bubbles {
    background-color: color-base('red');
  }

  .bg-bubbles {
    height: 93px;

    @include respond-above('medium') {
      height: 110px;
    }

    &__image {
      background-image: url('src/assets/bubbles-shadow.png');
      backface-visibility: hidden;

      width: 100%;
      height: 100px;

      @include respond-above('medium') {
        height: 110px;
      }

      &__top {
        pointer-events: none;
        position: absolute;
        bottom: 67px;

        @include respond-above('medium') {
          bottom: 67px;
        }
      }
    }
  }

  a.lk-button {
    margin: $margin-top-action-button auto $margin-bottom-action-button auto;
  }
}
