<lk-application-wrapper>
  <div class="container">
    <form>
      <section [formGroup]="form">
        <h2>stwórz wydarzenie</h2>
        <input class="lk-input" type="text" id="gForm_1" placeholder="NAZWA WYDARZENIA..." formControlName="name">
        <textarea class="lk-input" autosize
                  type="text" id="gForm_2" placeholder="Opis wydarzenia..." formControlName="description"></textarea>
        <h2>zaproś uczestników</h2>
          <input class="lk-input" type="text"
                 #name placeholder="nazwa..."
                 (keydown.enter)="addParticipant(name)">
        <div class="block-container">
          <div class="block-element" *ngFor="let participant of forParticipantList.controls; let i = index">
            {{participant.value.name}}
            <span (click)="removeParticipant(i)">x</span>
          </div>
        </div>
      </section>
      <a class="lk-button outline" (click)="clickedSave()">UPUBLIKUJ WYDARZENIE</a>
    </form>
  </div>
</lk-application-wrapper>
