<div class="container">
  <div class="lk-background-bubbles">
    <div class="lk-background-bubbles__image logo">
      <img [routerLink]="['/']" src="assets/logo-shadow.png">
    </div>
  </div>
  <form [formGroup]="form">
    <h2>stwórz wydarzenie</h2>
    <h3>Nazwa wydarzenia</h3>
    <input class="lk-input" type="text" id="gForm_1" [placeholder]="placeholderTexts.name" formControlName="name">
    <h3>Opis wydarzenia</h3>
    <textarea class="lk-input" autosize
              type="text" id="gForm_2" [placeholder]="placeholderTexts.description" formControlName="description"></textarea>

    <div style="display: none" [class]="isSwitched ? 'lk-inline-input-form switch left' : 'lk-inline-input-form switch left hidden'">
      <p>Nie biorę udziału</p>
      <input class="lk-input"
             formControlName="organiserName"
             type="text"
             placeholder="Twoja nazwa...">
      <label class="lk-switch">
        <input type="checkbox" [checked]="isSwitched" #switch (change)="onSwitchChange(switch)">
        <span class="slider"></span>
      </label>
    </div>

    <h2>zaproś uczestników</h2>
    <h3>Imię</h3>
    <div class="lk-inline-input-form button">
      <input class="lk-input" type="text"
             #name [placeholder]="placeholderTexts.participants">
      <button class="app-icon app-icon-arrow-right"
              (touched)="onClickButton(name)"
              (click)="onClickButton(name)"></button>
      <img src="assets/arrow.png">
    </div>
    <div class="block-container">
      <div class="block-element" *ngFor="let participant of forParticipants.controls; let i = index">
        <span class="text">{{participant.value.name}}</span>
        <span class="circle-button" (click)="removeParticipant(i)">x</span>
      </div>
    </div>
  </form>
</div>
<div class="bg-bubbles__image bg-bubbles__image__top"></div>
<a [class]="getButtonClass()" (click)="clickedSave()">OPUBLIKUJ WYDARZENIE
  <lk-spinner-fading-circle></lk-spinner-fading-circle></a>

