@import '~src/scss/base';

:host {
  .container {
    background-color: color-base('white');
    color: color-base('black');
    height: 100%;
    margin: 0 auto;
    padding: 15px;
  }


  h2 {
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
    @include responsive-app-text-size('main-header');
  }

  input, textarea {
    width: 100%;
  }

  a.lk-button {
    margin: 0 auto 35px auto;
  }
}
