<div class="bg-container">
  <div class="logo__container">
    <a [href]="['https://luck.org.pl/']" >
      <img src="assets/logo-shadow.png">
    </a>
  </div>
  <div class="container" >
    <h1>{{matchedParticipation.me.name}}, Twój los to:</h1>
    <p [class]="dataIsLoaded ? '' : 'hidden'">{{matchedParticipation.matchedMember.name}}</p>
    <lk-spinner *ngIf="!dataIsLoaded"></lk-spinner>
  </div>
</div>
<div class="bg-bubbles">
  <div class="bg-bubbles__image bg-bubbles__image"></div>
</div>
<footer>
  <p>Zapamiętaj swój los lub</p>
  <a class="lk-button disabled">ZALOGUJ SIĘ</a>
</footer>

