@import '~src/scss/base';
$margin-top-action-button: 15px;
$margin-bottom-action-button: 30px;


:host{
  position: relative;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  display: block;
  background-color: color-base('white');

  .bg-container{
    background-image: url('src/assets/bg-bubbles.png');
    background-repeat: repeat;
    background-color: color-base('red');
    height: 100%;
    color: color-base('white');
    width: 100%;
    display: flex;
  }

  .logo__container{

    img {
      width: 100px;
      height: 100px;
      transition: width .5s, height .5s, margin .5s, top .5s;
      cursor: pointer;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 30px;

      &:hover {
        width: 110px;
        height: 110px;
        margin-left: -55px;
        top: 20px;

        @include respond-above('medium') {
          width: 168px;
          height: 168px;

          margin-left: -84px;
          top: 63px;
        }


        @include respond-above('x-large') {
          width: 240px;
          height: 240px;
          margin-left: -120px;
          top: 65px;
        }
      }

      @include respond-above('medium') {
        top: 75px;
        width: 144px;
        height: 144px;
        margin-left: -72px;
      }

      @include respond-above('x-large') {
        width: 220px;
        height: 220px;
        margin-left: -110px;
      }
    }
  }

  .container{
    //height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;
    align-self: center;

    h1, p {
      text-align: center;
    }

    h1 {
      @include responsive-app-text-size('sub-header');
      font-size: 24px;

      @include respond-above('medium') {
        font-size: 30px;
      }
    }
    p {
      @include responsive-app-text-size('sub-description');
      font-size: 31px;

      @include respond-above('medium') {
        font-size: 54px;
      }
    }
  }

  footer {
    color: color-base('black');
    background-color: color-base('white');
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    margin-left: -50%;

    text-align: center;

    p {
      @include responsive-app-text-size('block-header');
      margin: $margin-top-action-button 0;
      color: color-base('black');

      @include respond-above('medium') {
        margin: 15px 0;
      }
    }

    a.lk-button {
      margin: $margin-top-action-button auto $margin-bottom-action-button auto;
    }
  }

  .bg-bubbles {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
    height: calc(70px);

    background-color: color-base('white');

    &__image {
      position: absolute;
      z-index: -1;
      top: $participant-bubble-position;
      width: 100%;
      height: 112px;
      background-position: center top;
      background-image: url('src/assets/bubbles.png');

      @include respond-above('medium') {
      }
    }
  }
}
