@import '~src/scss/base';

:host {
  pointer-events: none;
  .container {
    width: 100%;
    top: -40px;
    left: 0;
    text-align: center;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;

    transition: top 0.5s;

    .content {
      background-color: color-base('black');
      color: color-base('white');
      text-align: center;
      min-width: 140px;
      padding: 10px 15px;
      border-radius: 20px;
      opacity: 0;

      transition: opacity 0.5s;
    }
  }

  .container.show {
    top: 25px;

    .content {
      opacity: 0.7;
    }
  }
}
