$margin-top-action-button: 15px;
$margin-bottom-action-button: 15px;
$safe-size-action-button: 35px;

$space-for-action-button: $margin-top-action-button + $margin-bottom-action-button + $safe-size-action-button;
$space-for-bubbles: 20px;
