@import 'base';

* {
  box-sizing: border-box;
}

body {
  font-family: $ft_main;
  background: color-base('red');
  margin: 0;
  color: color-base('white');
}

li {
  list-style: none;
}

h1, h2 {
  margin: 0;
  @include responsive-text-size('main-header');
}

.app-icon {
  @include icon;
}
